p{
    color:rgba(114, 4, 77, 0.801);
}
h1{
    background-color: red;
}
h3{
    color: rgba(6, 23, 168, 0.781);
    background-color: lightslategrey;
}
h2{
    color: black;
    background-color: blue;
}